@(bouts: java.util.List[String])
<!DOCTYPE html>

<html>
    <head>
        <title>HG Admin</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
    	
    	<!-- Bootstrap Navbar -->
    	<div class="navbar navbar-default navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="#">Hunger Games Admin Console</a>
        		</div>
        		<div class="navbar-collapse collapse">
          			<ul class="nav navbar-nav">
            			<li class="dropdown">
              				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Select bout... <b class="caret"></b></a>
              				<ul class="dropdown-menu">
							@for(b <- bouts) {
								<li><a href="#">@b.split("@")(0).toUpperCase()</a></li>
							} 
              				</ul>
            			</li>
						<li><a id="current_bout" href="#"></a></li>
          			</ul>
        		</div><!--/.nav-collapse -->
      		</div>
    	</div>
    	<!-- End of Bootstrap Navbar -->
    	

    	<div class="container">
		    
			<!-- Commands component -->
			<div id="commands" class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Run commands</h3>
			  	</div>
			  	<div class="panel-body">
					<p>Clicking one of the following buttons to generate the corresponding event</p>
  					<button type="button" class="btn btn-success" id="start_bout">Start bout</button>
  					<button type="button" class="btn btn-warning" id="stop_bout">Stop bout</button>
  					<button type="button" class="btn btn-danger" id="reset_bout">Reset bout</button>
  					<!-- <button type="button" class="btn btn-default" id="pause_bout">Pause bout</button>
  					<button type="button" class="btn btn-default" id="resume_bout">Resume bout</button> -->
			  	</div>
			</div>
		    		
		    <!-- Debug component -->
		     <div id="debug" class="panel panel-default">
 				<div class="panel-heading">
 			    	<h3 class="panel-title">Grour chat feed</h3>
 			  	</div>
				<div class="panel-body">
					<div id="debug_console"/>
		    	</div>
		    </div>    
		</div>

		
		<!-- Scripts -->
        <script src="@routes.Assets.at("javascripts/jquery-2.0.3.js")"></script>
        <script src="@routes.Assets.at("javascripts/json2.js")"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
		<script src="@routes.Assets.at("javascripts/underscore-1.5.2.js")"></script>
		<script src="@routes.Assets.at("javascripts/backbone-1.0.0.js")"></script>
		<script src="@routes.Assets.at("javascripts/backbone.localStorage-1.1.6.js")"></script>
		
		<script src="@routes.Assets.at("javascripts/websockets.js")"></script>
        <script src="@routes.Assets.at("javascripts/admin-console.js")"></script>
		
    	
    </body>
</html></em>