@(runs: java.util.List[String])
<!DOCTYPE html>

<html>
    <head>
        <title>HG Admin</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
    	
    	<!-- Bootstrap Navbar -->
    	<div class="navbar navbar-default navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="#">Hunger Games Admin Console</a>
        		</div>
        		<div class="navbar-collapse collapse">
          			<ul class="nav navbar-nav">
            			<li class="dropdown">
              				<a id="run_id_a" href="#" class="dropdown-toggle" data-toggle="dropdown">Select run... <b class="caret"></b></a>
              				<ul id="run_id_dropdown" class="dropdown-menu">
							@for(b <- runs) {
								<li><a href="#">@b.split("@")(0).toUpperCase()</a></li>
							} 
              				</ul>
            			</li>
          			</ul>
        		</div><!--/.nav-collapse -->
      		</div>
    	</div>
    	<!-- End of Bootstrap Navbar -->
    	

    	<div class="container">
		    
			<!-- Commands component -->
			<div id="commands" class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Run commands</h3>
			  	</div>
			  	<div class="panel-body">
					<p>Use the following buttons to generate the corresponding event</p>
					<div class="row">
						<div class="btn-group" data-toggle="buttons">
  					  		<label class="btn btn-default"><input type="radio" name="habitat_sel" value="gameon">gameon</label>
  					  		<label class="btn btn-default"><input type="radio" name="habitat_sel" value="predation">predation</label>
						</div>
						<div class="col-lg-1">
							<input id="bout_id" type="text" class="form-control" placeholder="Bout">
						</div>		
  						<button type="button" class="btn btn-success" id="start_bout">Start bout</button>
  						<button type="button" class="btn btn-warning" id="stop_bout">Stop bout</button>
  						<button type="button" class="btn btn-danger" id="reset_bout">Reset bout</button>
					</div>
			  	</div>
			</div>
			
			<!-- Simulator commands component -->
			<div id="simulator_commands" class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Simulator commands</h3>
			  	</div>
			  	<div class="panel-body">
					<div class="row">
						<div class="col-lg-1">
							<input id="tag_id" type="text" class="form-control" placeholder="TagID">	
						</div>		
						<div class="btn-group">
						  <button id="departure_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    Departure <span class="caret"></span>
						  </button>
						  <ul id="departure_dropdown" class="dropdown-menu" role="menu">
							<li><a href="#">null</a></li>  
						    <li><a href="#">patch-a</a></li>
						    <li><a href="#">patch-b</a></li>
						    <li><a href="#">patch-c</a></li>
						    <li><a href="#">patch-d</a></li>
						    <li><a href="#">patch-e</a></li>
						    <li><a href="#">patch-f</a></li>
						  </ul>
						</div>
						<div class="btn-group">
						  <button id="arrival_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    Arrival <span class="caret"></span>
						  </button>
						  <ul id="arrival_dropdown" class="dropdown-menu" role="menu">
							<li><a href="#">null</a></li>
						    <li><a href="#">patch-a</a></li>
						    <li><a href="#">patch-b</a></li>
						    <li><a href="#">patch-c</a></li>
						    <li><a href="#">patch-d</a></li>
						    <li><a href="#">patch-e</a></li>
						    <li><a href="#">patch-f</a></li>
						  </ul>
						</div>
  						<button type="button" class="btn btn-primary" id="move_btn">Move</button>
					</div>
			  	</div>
			</div>
					
		    <!-- Debug component -->
		     <div id="debug" class="panel panel-default">
 				<div class="panel-heading">
 			    	<h3 class="panel-title">Grour chat feed</h3>
 			  	</div>
				<div class="panel-body">
					<pre class="pre-scrollable" id="debug_console" />
		    	</div>
		    </div>    
		</div>
		
		
		<!-- Scripts -->
        <script src="@routes.Assets.at("javascripts/jquery-2.0.3.js")"></script>
        <script src="@routes.Assets.at("javascripts/json2.js")"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
		<script src="@routes.Assets.at("javascripts/underscore-1.5.2.js")"></script>
		<script src="@routes.Assets.at("javascripts/backbone-1.0.0.js")"></script>
		<script src="@routes.Assets.at("javascripts/backbone.localStorage-1.1.6.js")"></script>
		
		<script src="@routes.Assets.at("javascripts/websockets.js")"></script>
        <script src="@routes.Assets.at("javascripts/admin-console.js")"></script>
		
    	
    </body>
</html></em>